img {
    border-radius: 50%;
    width: 100%;
}

picture {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.ava {
    Align-Items: center;
    Justify-Content: centr;
}
